.left-nav {
  height: calc(100vh - 64px);
}
.main-content {
  height: calc(100vh - 64px);
}
.navToggle{
  display: inline;
}
.active{
  background: #212A3E;
}
a{
  color: white;
  border-radius: 5px;
}

