<section class="bg-slate-900 text-white">
  <div class="mx-auto max-w-screen-xl flex justify-center items-center h-[100vh]">
    <div class="mx-auto max-w-3xl text-center">
      <p class="text-slate-300 font-bold">
      Welcome to LostPetGuardian
      </p>
      <h1
        class="bg-gradient-to-r from-green-300 via-blue-500 to-purple-600 bg-clip-text text-3xl font-extrabold text-transparent sm:text-5xl pb-4">
        <span class="sm:block"> Bringing Lost Pets Back to Loving Homes </span>
      </h1>
      <p class="mx-auto mt-4 max-w-xl text-gray-300 sm:text-md/relaxed">
        Our app is your trusted partner in reuniting lost pets with their families. With a community-driven database, anyone who spots a lost pet can easily share their location and details.
      </p>

      <div class="mt-2 flex flex-wrap justify-center gap-4">
        <a class=" rounded border border-blue-600 bg-slate-200 px-12 py-3 text-sm font-medium text-black hover:bg-transparent hover:text-white focus:outline-none focus:ring active:text-opacity-75 sm:w-auto"
          routerLink="login">
          Get Started
        </a>
      </div>
    </div>
  </div>
</section>
